<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/customer-site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link href="~/lib/Datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/Datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.cosmosws.io/css/ckeditor-content.css" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/customer-custom-02.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" crossorigin="anonymous">
    <link href="~/lib/bootstrap/4.4.1/css/customer-offcanvas.css" rel="stylesheet" />
    <style>
        .wrapper {
            margin-right: auto;
            margin-left: auto;
            max-width: 1400px;
        }

        .navitem-spacing {
            padding-left: 80px;
            padding-right: 80px;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color: rgba(134,71,234,0.15) !important;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 60px;
            font-weight: 600;
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
            font-weight: 600;
        }

        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
        }

        h4 {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }

        footer.bg-dark {
            background-color: #414042 !important;
        }

        span.badge.rounded-pill {
            font-size: 16px;
            font-weight: 500;
            border-radius: 22px;
        }

        span.badge-outlined.badge.rounded-pill.text-bg-secondary {
            color: #F3046c !important;
            background-color: #fff !important;
            border: 2px solid #F3046C !important;
        }

        span.badge.rounded-pill.text-bg-primary {
            background-color: #F3046c !important;
        }

        .btn-primary {
            background-color: #8647EA !important;
        }

        .btn-aquamarine {
            color: #00ECC2 !important;
            font-size: 24px;
            font-weight: 600;
        }

        .btn-selectiveyellow {
            color: #FCBA07 !important;
            font-size: 24px;
            font-weight: 600;
        }

        .btn-razzmatazz {
            color: #F3046c !important;
            font-size: 24px;
            font-weight: 600;
        }

        .btn-aquamarine {
            color: #00ECC2 !important;
            font-size: 24px;
            font-weight: 600;
        }

        .btn-blueviolet {
            color: #8647EA !important;
            font-size: 24px;
            font-weight: 600;
        }

        .btn-secondary {
            background-color: #FF3333 !important;
        }

        .btn-info {
            background-color: #00ECC2 !important;
        }

        .cm-top-nav-bar {
            background-color: #8647EA !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top cm-top-nav-bar text-light">
        <div class="container-fluid">
            <a class="navbar-brand mr-auto mr-lg-0" href="@Url.Action("Index", "Home")">
                <img src="~/images/PrimaryLogo_White.png" alt="Cosmos Website Solutions, Inc. logo" height="24" />
            </a>

            <div class="d-flex text-end">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <span class="cm-username text-white">@User.Identity.Name&nbsp;</span>
                    <a class="nav-link" asp-controller="Account" asp-action="SignOut">&nbsp;<i class="fa fa-sign-out"></i></a>
                }
                else
                {
                    <a class="nav-link" asp-controller="Account" asp-action="SignIn">Sign in</a>
                }
            </div>
        </div>
    </nav>
    <div class="nav-scroller bg-white shadow-sm cm-menu-bar">
        <nav class="container pb-3 nav nav-underline">
            <a class="nav-link active">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    @if (TempData["ShowWelcomeScreen"] != null && Convert.ToString(TempData["ShowWelcomeScreen"]) == "True")
                    {
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a>
                    }
                }
            </a>
        </nav>
    </div>
    <div class="container pb-3">
        @* <partial name="_CookieConsentPartial" /> *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="cm-footer">
        <div class="container text-center">
            &copy; 2023 - Cosmos Website Solutions, Inc.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            // Next line for sticky footer. See: https://devpractical.com/bootstrap-sticky-footer/
            $("html").addClass("h-100");
            $("body").addClass("d-flex");
            $("body").addClass("flex-column");
            $("body").addClass("h-100");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" asp-append-version="true" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" asp-append-version="true" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/4.4.1/js/offcanvas.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
